header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    gap:8rem;
}
header nav ul{
    display: flex;
    gap:2rem
}
header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration-color: transparent;
    color:white;
}

header .buttons{
    display: flex;
    gap:2rem;
}
header .buttons button{
    border:none;
    background-color: rgb(220, 185, 58);
    padding:1rem 3rem ;
    color:white;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}
header .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
header .cart #added-items{
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 50%;
    color:black
}


.table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.table th,
.table td {
    padding: 1rem 1.2rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f2f2f2;
}
.RemoveBtn{
    background-color: red;
    color: white;
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.RemoveBtn:hover{
    background-color: rgb(240, 69, 69);
}
